version: "3.9"
services:
  backend:
    build:
      context: .
      dockerfile: infra/docker/Dockerfile
    container_name: artesanos-backend
    ports:
      - "8000:8000"
    volumes:
      - ./src/backend:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: nginx:stable-alpine
    container_name: artesanos-frontend
    ports:
      - "8080:80"
    volumes:
      - ./src/frontend:/usr/share/nginx/html:ro
